/* Ipad page css */

.ipad_one{
    /* background-image: url("https://www.apple.com/v/ipad-10.9/b/images/overview/hero/hero__ecv967jz1y82_large.jpg");
    background-repeat: no-repeat;
    background-position:left ; */
    min-height: 600px;
    /* z-index: -1; */
    /* background-size: cover; */
    cursor: pointer;
}
.ipad_acc{
    background-image: url("https://www.apple.com/v/ipad/home/cd/images/overview/accessories__gdpezee1naai_large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1057px 432px;
    min-height: 432px;
    z-index: 1;
    /* background-size: cover; */
    cursor: pointer;
}
.ipad_os16{
    background-image: url("https://www.apple.com/v/ipad/home/cd/images/overview/ipados16__9t47xpd66wiq_large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1310px 485px;
    min-height: 485px;
    z-index: 1;
    /* background-size: cover; */
    cursor: pointer;
}
.ipad_gthree{
    background-image: url("https://www.apple.com/v/ipad/home/cd/images/overview/apple_card_banner/acmi/apple_card_monthly_installments__fhqbbrc4alm6_large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 580px;
    z-index: 1;
    background-size: cover;
    cursor: pointer; 
}
.ipad_gfour{
    background-image: url("https://www.apple.com/v/ipad/home/cd/images/overview/trade_in__ejwkdm497no2_large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 580px;
    z-index: 1;
    background-size: cover;
    cursor: pointer; 
}
/* For  Ipad 3 grid component  starts*/
.ipad_iCloud{
    background-image: url("https://www.apple.com/v/ipad/home/cd/images/overview/icloud__czqjzr040qc2_large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 594px 280px;
    min-height: 280px;
    z-index: 1;
    /* background-size: cover; */
    cursor: pointer;
}

.ipad_iPay{
    background-image: url("https://www.apple.com/v/ipad/home/cd/images/overview/apple_pay__u03k08osmwy2_large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 388px 281px;
    min-height: 281px;
    z-index: 1;
    /* background-size: cover; */
    cursor: pointer;
}

.ipad_b3Grid{
    margin-top: 20px;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width:96%;
    margin-left: 2%;
}
/* For Ipad 3 grid component  ends*/



/* For Big Ipad grid component */
.ipad_iFitness{
    background-image: url("https://www.apple.com/v/ipad/home/cd/images/overview/apple_fitness_plus/fitness_plus__edi7q3m2m2qa_large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 466px 341px;
    min-height: 341px;
    z-index: 1;
    /* background-size: cover; */
    cursor: pointer;
}
/* Note : Arcade image needed to be changed */
.ipad_iArcade{
    background-image: url("https://www.apple.com/v/ipad/home/cd/images/overview/apple_pay__u03k08osmwy2_large.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 388px 281px;
    min-height: 281px;
    z-index: 1;
    /* background-size: cover; */
    cursor: pointer;
}

.ipad_bigGrid{
    margin-top: 20px;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width:96%;
    margin-left: 2%;
}
/* For Big Ipad grid component ends */
.ipad_bgrid{
    margin-top: 10px;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
