/* watch page css */
.WatchNav_head{
    padding:12px 12px;
    background: rgba(245,245,247,.6);
    backdrop-filter: saturate(180%) blur(20px);
    text-align: center;
    height: 100px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 40px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.head_child{
    animation: WatchNav_head-slidein 350ms backwards;
    padding: 0px 5px 0px 4px;
    height: 80px;
    width: 80px;
}

.Watch_body{
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.BodyImage1{
    max-width: 100%;
    padding-right: 10px;
    height: 583px;
    overflow-x: hidden;
    transform: scaleX(1.3);
    margin-bottom:1 50px ;
}

.WatchBody2_container{
    margin-bottom: 120px;
    padding-top: 50px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.WatchBody2_child{
    max-width: 980px;
    height: 290vh;
    margin: 57px auto 44px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(8,auto);
    grid-row-gap: 44px;
    grid-column-gap: 32px;
    grid-template-areas:
        "s8Device seDevice ultraDevice"
        "s8Display seDisplay ultraDisplay"
        "s8Retina seRetina ultraRetina"
        "s8Boa seBoa ultraBoa"
        "s8ecg seecg ultraecg"
        "s8Heartrate seHeartrate ultraHeartrate"
        "s8Temperature seTemperature ultraTemperature"
        "s8Sos seSos ultraSos"
        "s8Gps seGps ultraGps";
    margin-left: auto;
    margin-right: auto;

}

.WatchBody2_grandChild{
    display: grid;
    justify-content: center;
    height:290vh;
}
.WatchBody2_text{
    font-size: 45px;
    line-height: 1.0834933333;
    font-weight: 600;
    letter-spacing: -0.003em;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}